:root {
  --primary-color: #fff;
  --secondary-color: #aaaaaa;
  --dark-color: #333;
  --light-color: #fff;
  --success-color: green;
  --error-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  line-height: 1.6;
}

/* Important for pushing footer to the bottom */
article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--dark-color);
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--dark-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--dark-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar img {
  max-height: 80px;
}

/* Dropdown */
.navbar li a,
.dropbtn {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: var(--secondary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Banner */
.banner {
  height: 30rem;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .card {
  max-width: 900px;
  width: 80vw;
  opacity: 0.9;
}

.banner p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.banner p:first-child {
  text-decoration: underline;
}

.banner p:nth-child(2) {
  font-weight: initial;
  font-size: 1.5rem;
}

/* Homepage */
.home {
  position: relative;
}

.home .grid {
  overflow: visible;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px;
  align-items: initial;
  height: auto;
}

.home .grid > *:first-child {
  grid-column: 1 / span 1;
}

.home .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.home .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.home-pic .flex,
.home-home .flex,
.home-side-bar .flex {
  height: auto;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

/* Home Text */
.home-main .card {
  box-shadow: 0 0 0 0;
}

.home-main h2 {
  border-bottom: 1px var(--dark-color) solid;
}

/* Home-side-bar */
.home-side-bar .card {
  position: sticky;
  top: 100px;
}

.home-side-bar a {
  color: var(--dark-color);
}

.home-side-bar a:hover {
  color: var(--dark-color);
  border-bottom: 2px var(--dark-color) solid;
}

/* Home Picture */
.home-pic img {
  max-width: 300px;
  width: 100%;
}

/* About Us */
.aboutus .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.aboutus .grid > *:first-child {
  grid-column: 1 / span 1;
}

.aboutus .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.aboutus .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.aboutus .card {
  box-shadow: 0 0 0 0;
}

/* Asset Recovery */
.asset-recovery .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.asset-recovery .grid > *:first-child {
  grid-column: 1 / span 1;
}

.asset-recovery .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.asset-recovery .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.asset-recovery-text .card {
  box-shadow: 0 0 0 0;
}

.asset-recovery-sidebar ul {
  list-style-type: disc;
  padding: 0 1rem;
}

.asset-recovery-sidebar li {
  padding: 6px 0;
}

.asset-recovery-sidebar a {
  color: var(--dark-color);
}

.asset-recovery-sidebar a:hover {
  border-bottom: 2px var(--dark-color) solid;
}

#pins {
  float: right;
  width: 50%;
}

/* E-Waste Recycling */
.e-waste .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.e-waste .grid > *:first-child {
  grid-column: 2 / span 4;
}

.e-waste .card {
  box-shadow: 0 0 0 0;
}

.e-waste ul {
  list-style-type: disc;
}

.e-waste-list {
  align-items: flex-start;
}

#motherboard {
  align-self: flex-start;
  max-width: 50%;
}

/* Pick Up / Logistics */
.pickuplogistics .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.pickuplogistics .grid > *:first-child {
  grid-column: 1 / span 1;
}

.pickuplogistics .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.pickuplogistics .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.pickuplogistics .card {
  box-shadow: 0 0 0 0;
}

.pickuplogistics ul {
  list-style-type: disc;
}

.pickuplogistics li {
  padding: 0.2rem 0;
}

.pickuplogistics-list {
  align-items: flex-start;
}

#trucks {
  max-width: 60%;
}

/* Proprietary Product / Data Destruction */
.ppdd .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.ppdd .grid > *:first-child {
  grid-column: 1 / span 1;
}

.ppdd .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.ppdd .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.ppdd .card {
  box-shadow: 0 0 0 0;
}

.ppdd-row1 {
  align-items: flex-start;
}

#secure {
  max-width: 50%;
}

/* Environmental Commitment */
.environment-com .grid {
  overflow: visible;
  padding: 30px;
  align-items: initial;
  height: auto;
}

.environment-com .grid > *:first-child {
  grid-column: 1 / span 1;
}

.environment-com .grid > *:nth-child(2) {
  grid-column: 2 / span 4;
}

.environment-com .grid > *:nth-child(3) {
  grid-column: 6 / span 1;
}

.environment-com .card {
  box-shadow: 0 0 0 0;
}

.environ-row1 {
  align-items: flex-start;
}

#globe {
  max-width: 30%;
}

/* Contacts */
.contacts .grid {
  overflow: visible;
  grid-template-columns: repeat(8, 1fr);
  padding: 30px;
  align-items: initial;
  height: auto;
}

.contacts .grid > *:first-child {
  grid-column: 2 / span 6;
}

.contacts .flex {
  align-items: flex-start;
}

.contacts .card {
  box-shadow: 0 0 0 0;
}

.contacts-text .flex {
  justify-content: center;
  align-items: center;
}

.contacts-text form div {
  padding-bottom: 0.6rem;
}

.contacts-text input,
.contacts-text textarea {
  width: 100%;
}

.contacts-info .flex {
  flex-direction: row;
  align-items: flex-start;
}

.contacts-info img {
  height: 172px;
  width: 200px;
}

/* Footer */
.footer {
  color: var(--dark-color);
  background-color: var(--primary-color);
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.footer img {
  height: 5rem;
}

/* Return to top button */
#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 11vw;
  z-index: 99;
  outline: none;
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 2.7rem;
  width: 2.7rem;
}

#topbtn:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
